html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*COLOUR*/
 body {
    background-color:#E5E5E5;
    display:flex;
    display:-webkit-flex;
    flex-direction:column;
    -webkit-flex-direction:column;
    min-height:130vh;
}
.thumbnail {
    padding:0;
}
#siteMain {
    flex:1;
    -webkit-flex:1;
    position:relative;
}
#main, #nMain {
    overflow:auto;
    z-index:1;
}
footer {
    background-color:#FFF;
    box-shadow:0px 0px 10px 10px #FFF;
    padding:1em;
}
.navbar {
    background-color:#8057f2;
    border-radius:0;
    box-shadow: 0px 0px 10px 5px #BBB;
}
.navbar-brand {
    color:white;
    font-weight:bold;
}
.back {
    margin:1em;
}
#mainT {
    font-size:52px;
}
.smallIcon {
    width: 3em;
    height: 3em;
}
.btn>.btn-iT {
    font-size:0;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}
.btn-iT:before {
    content:" [ ";
}
.btn-iT:after {
    content:" ]";
}
.btn:hover>.btn-iT {
    transform: scale(1);
    font-size:inherit;
}
.superCentre {
    display: flex;
    display:-webkit-flex;
    justify-content: center;
    -webkit-justify-content:center;
    align-items: center;
    -webkit-align-items:center;
    flex-direction:column;
    -webkit-flex-direction:column;
}
.hidden {
    display:none;
}
#dashLink, #lOLink {
    margin-left: 1em;
}
#404jum {
    background-color:#FFF;
}
.unvis {
    transform:scale(0);
    transition:all 0.3s ease-in-out;
    display:inline-block;
}
.vis {
    transform:scale(1);
    transition: all 0.3s ease-in-out;
    display:inline-block;
}
.forcePointer {
    cursor:pointer;
}